@model BlogWebTinTuc.Models.Role

@{
    ViewBag.Title = "Role";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa chức vụ</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Lưu", "Edit", new { id = Model.RoleID }) |
    @Html.ActionLink("trở lại danh sách", "Index")
</p>
