@model BlogWebTinTuc.Models.Category

@{
    ViewBag.Title = "Danh mục";
    if (Session["idUser"].ToString() == "admin")
    {
        Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Areas/BTV/Views/Shared/_LayoutBTV.cshtml";
    }
}

<h2>Danh mục</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Trở lại danh sách", "Index")
</p>
